/* Global styles */
.mobile-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.desktop {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 140px;
}

.profile-info {
  text-align: center;
  margin-top: 20px;
}

/* Profile Info */
.muhammad-surya {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000;
  font-size: 24px;
}

.front-end-developer {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  text-align: center; /* Center-align the content */
  margin-top: 20px; /* Add spacing between the elements */
}

/* Text Wrappers */
.text-wrapper,
.text-wrapper-2,
.portofolio {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; /* Adjust margin as needed */
}

.text-wrapper {
  background-color: #042B4B;
  width: 617px; /* Set the width as per the brief */
  height: 244px; /* Set the height as per the brief */
}

.text-wrapper-2 {
  background-color: #45044B;
  width: 460px; /* Update the width as per the brief */
  height: 244px; /* Set the height as per the brief */
}

.portofolio {
  background-color: #000000;
  width: 1093px; /* Update the width as per the brief */
  height: 149px; /* Set the height as per the brief */
}

/* Text Boxes */
.text-wrapper .box,
.text-wrapper-2 .box {
  background-color: inherit;
  border-radius: inherit;
  padding: 10px; /* Adjust padding as needed */
  color: #fff; /* Text color inside the box */
  display: inline-block; /* Make the box fit the content */
  margin-right: 10px; /* Add spacing between the box and content */
}

.text-wrapper .bio-text,
.text-wrapper-2 .tools-image {
  margin-top: 10px; /* Add spacing between the box and the content below */
}

.text-wrapper-2 .icon-tools {
  max-width: 100px; /* Adjust the maximum width as needed */
  max-height: auto; /* Allow the height to adjust proportionally */
  vertical-align: middle; /* Vertically align the image in the box */
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Adjust margin-top as needed */
}

.social-icons img {
  margin: 0 10px;
  max-width: 30px;
  max-height: 30px;
}

/* Rectangles */
.rectangles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.rectangle {
  border-radius: 3px;
  width: 100%;
  max-width: 300px;
  height: 150px;
}

.rectangle-1 {
  background-color: #042B4B;
  margin-right: 10px;
}

.rectangle-2 {
  background-color: #45044B;
  margin-left: 10px;
}

.rectangle-3 {
  background-color: #000;
  margin-top: 10px;
}

.icon-tools {
  max-width: 100%; /* Ensure the image takes its container's width */
  height: auto;   /* Maintain the image's aspect ratio */
}
